.selected-viewer-container > div{
    max-height: 75px;
    overflow: hidden;
    overflow-y: scroll;
}

.modal-dialog{
    width: 750px;
    max-width: 95vw;
}

.modal-footer{
    justify-content: center;
    flex-direction: column;
}

.back-to-up{
    position: fixed;
    right: 5px;
    bottom: 10px;
}

.back-to-up > span{
    font-size: 50px;
}
